<div class="col-12" style="width: auto">
  <!-- <app-test></app-test> -->
  <div ><app-test1></app-test1></div>
</div>
<!-- <div class="col-12" style="width: 600px"><app-test1></app-test1></div> -->
<!-- <table [value]="items">
  <thead>
    <tr>
      <th>id</th>
      <th>titllee</th>
      <th>author</th>
    </tr>
  </thead>
  <tbody *ngFor="let item of items; let i = index">
    <tr>
      <td>{{ i }}</td>
      <td>{{ item.title }}</td>
      <td>{{ item.author }}</td>
    </tr>
  </tbody>
</table>

<div>
  <input type="text" [(ngModel)]="title" name="title" />
  <input type="text" [(ngModel)]="author" name="author" />
  <button (click)="postM()">OK</button>
</div> -->
