<p>test works!</p>
<input type="text" [(ngModel)]="message">
<br>
<input type="text" [(ngModel)]="commons.categoryCode">
<input type="text" [(ngModel)]="commons.categoryName">
<input type="text" [(ngModel)]="commons.description">
<table [value]="children">
<thead>
    <tr>
        <th>code</th>
        <th>name</th>
        <th>description</th>
    </tr>
</thead>
<tbody *ngFor="let item of children;let i=index">
    <tr>
        <td><input type="text" [(ngModel)]="item.code" [name]="'code'+i"></td>
        <td><input type="text" [(ngModel)]="item.name" [name]="'name'+i"></td>
        <td><input type="number" [(ngModel)]="item.orderNum" [name]="'orderNum'+i"></td>
        <td><input type="text" [(ngModel)]="item.description" [name]="'description'+i"></td>
        <td><button (click)="deleteLine(item)">X</button></td>
    </tr>
</tbody>
</table>
<button (click)="addLine()">tạo</button>
<button (click)="save()">lưu</button>




<h1>{{ arrayList[currentIndex]?.name }}</h1>
<button (click)="chuyenMang()" [disabled]="disabled">Chuyển</button>
<form #f="ngForm" (ngSubmit)="submit()">
    <input type="text" [(ngModel)]="text" name="text">
    <button type="submit" > click me</button>
</form>

<div><input type="checkbox" name="isSelectAll" (ngModelChange)="selectALl($event)" [(ngModel)]="isSelectAll">check all</div>
<div *ngFor="let item of arrayList;let i=index">
<div class="d-flex" style="display: flex;justify-content: space-around;">
    <div><input type="checkbox" [name]="'isSelected_'+i" [(ngModel)]="item.isSelected" (ngModelChange)="selected($event,item)"></div>
    <div>{{item.id}}</div>
    <div>{{item.name}}</div>
</div>
</div>